# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Database files
*.sqlite
*.sqlite3
*.db
*.db3
*.s3db
*.sl3
*.db-shm
*.db-wal
*.sql
*.mysql
*.pgsql
dump.rdb
mongod.lock

# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
.open-next/
out/
build
dist

# Wrangler
.wrangler/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.DS_Store
*.pem

# Mobile & Desktop Binary Installers
*.apk
*.aab
*.exe
*.dmg

